{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="starter-template">
            <h1>May the force be with you, {{ username }}</h1>
        </div>

    </main>
{% endblock %}
