{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <form class="form-signin" action="{{ path('login') }}" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <h2 class="form-signin-heading">Please login</h2>
            <label for="username" class="sr-only">Username:</label>
            <input type="text" id="username"  class="form-control" placeholder="Your login" required autofocus name="_username" value="{{ last_username }}" />
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Your password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div> <!-- /container -->

{% endblock %}
